* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout-container {
  header {
    background-color: rgb(111, 122, 224);
    box-shadow: 0px 19px 20px -21px rgba(0, 29, 246, 0.73);
    .ant-typography {
      padding: 10px;
      color: white;
      margin-bottom: 0 !important;
    }
  }
  main {
    height: calc(100vh - 64px);
    width: 60%;
    margin: auto;
    padding: 20px;
    overflow-y: scroll;
  }
  main::-webkit-scrollbar {
    display: none;
  }
}

.pagination {
  width: 100%;
  padding: 10px;
}

.facts {
  width: 300px;
  max-width: 300px;
  max-height: 300px;
  flex-flow: column wrap;
  margin: 20px;
  .ant-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    .ant-card-actions {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .text {
      height: 44px;
      justify-content: center;
    }
  }
  p {
    margin: 0;
    overflow-wrap: anywhere;
  }
}

.loading {
  height: 70%;
}

.filter-title {
  padding-left: 10px;
  margin-bottom: 0 !important;
}

.filters {
  padding: 20px;
  .ant-select {
    min-width: 150px;
  }
}

.fact-info-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  .ant-card {
    animation: info_page 0.3s;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    .ant-typography {
      font-weight: 400;
    }
    h1 {
      overflow-wrap: break-word;
      font-size: 28px;
      font-weight: 400;
    }
    h3 {
      margin: 0;
    }
    .anticon-close-circle {
      color: red;
      font-size: 20px;
      margin-left: 5px;
    }

    .anticon-check-circle {
      color: rgb(13, 230, 13);
      font-size: 20px;
      margin-left: 5px;
    }
    .animal-type {
      margin-left: 5px;
      margin-top: 0;
    }
  }
}

.empty-container {
  width: 100%;
  height: 300px;
}

@keyframes info_page {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fact-card {
  0% {
    transform: matrix3d(0);
  }
  100% {
    transform: matrix3d(1);
  }
}

@media screen and (max-width: 500px) {
  .ant-layout-content {
    width: 100% !important;
  }

  header {
    .ant-row {
      justify-content: center;
    }
  }

  .filters {
    .ant-col {
      width: 100%;
      margin-bottom: 16px;
      h5 {
        margin-bottom: 0;
      }
      .ant-select {
        width: 100%;
      }
      .ant-picker {
        width: 100%;
      }
      .ant-btn {
        width: 100%;
      }
    }
  }

  .fact-info-container {
    padding: 16px;
    h1 {
      font-size: 20px !important;
    }
    .actions-container {
      flex-direction: column;
      .ant-row-middle {
        margin-bottom: 5px;
      }
    }
  }
}
